{% extends 'base.html.twig' %}

{% block body %}
    {% include 'components/header.html.twig' %}

    <main class="main">

        <div class="page-title" data-aos="fade">
            <nav class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li class="current"><a href="{{ path('app_home') }}">Мої курси</a></li>
                    </ol>
                </div>
            </nav>
        </div>

        <section id="courses" class="courses section">
            <div class="container">

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('course_create') }}" type="button" class="btn btn-success form-outline mb-4">
                        Створити дисципліну
                        <img src="assets/img/add.png" alt="Add" style="width: 25px; height: 25px; margin-left: 5px;">
                    </a>
                {% endif %}

                 <div class="row">
                    {% set images = [
                        'course1.png',
                        'course2.png',
                        'course3.png',
                        'course4.png',
                        'course5.png'
                    ] %}

                    {% for course in courses %}
                        {% set randomIndex = random(0, images|length - 1) %}
                        {% set randomImage = images[randomIndex] %}

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4" data-aos="zoom-in" data-aos-delay="100">
                            <div class="course-item border rounded shadow p-3" style="border: 2px solid #007bff;">
                                <a href="{{ path('course_show', {id: course.id}) }}">
                                    <img src="{{ asset('assets/img/courses/' ~ randomImage) }}" class="img-fluid rounded-top" alt="{{ course.courseName }}" width="450" height="125">
                                </a>
                                <div class="course-content">
                                    <h3><a href="{{ path('course_show', {id: course.id}) }}">{{ course.courseName }}</a></h3>
                                    <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                            <p>Викладач: </p>&nbsp
                                            <p><b>{{ course.teacher.name }}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Вас не додано до жодної дисципліни</p>
                    {% endfor %}
                </div>

                <div id="calendar"></div>
            </div>
        </section>
    </main>

    {% include 'components/footer.html.twig' %}

    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <script>
       document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    {% for deadline in deadlines %}
                        {
                            title: '{{ deadline.category }} {{ deadline.title }}',
                            start: '{{ deadline.date }}',
                            allDay: true
                        },
                    {% endfor %}
                ],
                eventRender: function(info) {
                    var titleParts = info.event.title.split(': ');
                    var category = titleParts[0];
                    var title = titleParts[1];

                    info.el.innerHTML = `<strong>${category}</strong>: ${title}`;
                }
            });
            calendar.render();
        });
    </script>

{% endblock %}
