{% extends 'base.html.twig' %}

{% block body %}
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="{{ path('app_home') }}" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename">eStudy</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{{ path('app_home') }}">Особистий кабiнет<br></a></li>
                    <li><a href="{{ path('grades') }}">Оцiнки</a></li>
                    {% if app.user %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>{{ app.user.name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('logout') }}">Вихід</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <a class="btn-getstarted" href="{{ path('login') }}">Вхiд</a>
                    {% endif %}
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>
{% endblock %}
